---
const { text, icon, link } = Astro.props
---

<a href={link} target="_blank" class="px-1 flex items-center justify-start gap-x-2 border-2 hover:border-b-grayLight hover:border-r-grayLight hover:border-t-grayDarker hover:border-l-grayDarker border-t-grayLight border-l-grayLight border-b-grayDarker border-r-grayDarker">
    <img src={icon.src} alt="Social media icon" width="20" height="20">
    <span class="font-levi font-medium text-base text-gray-900">{text}</span>
</a>

