---
import wIcon from "../assets/windows-icon.png"
---
<div class="h-full py-0.5 px-1 flex items-center justify-center">
    <button class="w-full h-full px-1.5 border-2 border-t-grayLight border-l-grayLight border-b-grayDarker border-r-grayDarker flex items-center justify-center gap-x-2">
        <img src={wIcon.src} alt="Windows 98 icon" width={wIcon.width} height={wIcon.height} />
        <span class="font-levi font-black text-lg text-black">Finish</span>
    </button>
</div>