---
import DateTimeSection from "./DateTimeSection.astro";
import ShortcutBarSection from "./ShortcutBarSection.astro";
import OpenTabsSection from "./OpenTabsSection.astro";
import StartBarButton from "./StartBarButton.astro";
import BarDivider from "./BarDivider.astro"
---

<footer class="w-full h-9 bg-grayMedium absolute bottom-0 border-t-2 border-l-2 border-grayLight flex flex-row items-center justify-between gap-x-0.5">
    <div class="h-full flex flex-row items-center justify-center gap-x-0.5">
        <StartBarButton />
        <ShortcutBarSection />
    </div>
    <BarDivider />
    <OpenTabsSection />
    <DateTimeSection />
</footer>